.comments {
    background: linear-gradient(180deg, rgba(40, 61, 91, 1) 0%, rgba(0, 0, 0, 0.8407738095238095) 69%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    justify-content: center;
}
.comments__card {
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.comments__card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.comments__img-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
    object-fit: cover;
}

.comments__img-profile:hover {
    opacity: 0.8;
}

.comments__card h3 {
    font-size: 1.3em;
    margin-bottom: 8px;
    color: #333;
    text-shadow: none;
}

.comments__card p {
    font-size: 1em;
    line-height: 1.4;
    color: #666;
}