.modalities {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(184deg, rgba(40, 61, 91) 0%, rgba(40, 61, 91) 46%, rgba(75, 98, 130) 100%);
}
.modalities .container{

    background-image: linear-gradient(rgba(40, 61, 91, 0.8) 0%, rgba(40, 61, 91, 0.8) 46%, rgba(75, 98, 130, 0.8) 100%), url('../img/piso_de_borracha_grao_de_arroz.jpg');
    background-size: 300px;
}
.modalities__title {
    margin-bottom: 1.5rem;
    text-align: center;
}

.modalities__types {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.modalities__types-item {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1px solid #fff;
}

.modalities__types-item div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.modalities__types-item img {
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    width: 50%;
    height: auto;

}

.modalities__types-item p {
    height: 50px;
    overflow: hidden;
    transition: 1s;
}

.modalities__types-item p.active {
    height: initial;
    overflow: initial;
    transition: 1s;
}

.modalities__types-button {
    width: 75px;
    background-color: #3c8d8d;
    font-weight: 700;
}

@media screen and (min-width:1040px) {

    .modalities__types-item {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        height: 200px;
        text-align: left;

    }

    .modalities__types-item:hover img {
        transform: rotate(10deg);
        transition: .5s;

    }

    .modalities__types-item:nth-child(odd):hover img {
        transform: rotate(-10deg);
        transition: .5s;
    }

    .modalities__types-item:nth-child(odd) {
        flex-direction: row-reverse;
        text-align: right;
    }

    .modalities__types-item div {
        align-items: initial;

    }

    .modalities__types-item img {
        transition: .5s;
        border-radius: 15px;
        width: 100%;
        height: 100%;
    }

    .modalities__types-item p {
        font-weight: 500;
        font-size: 1.2rem;
        height: initial;
        overflow: initial;
        transition: 1s;
    }

    .modalities__types-button {
        display: none;
    }

}